#app
PORT=
#DB
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
#OTP
Cookie_Secret=
OTP_Token_Secret=
Access_Token_Secret=
Email_Token_Secret=
Phone_Token_Secret=
#kavenegar
SEND_SMS_URL=
#google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=